//less files compile to target/public/main/less/main.css
@import url(flex.less);
@import "lib/bootstrap/less/bootstrap.less";

//@import url(https://fonts.googleapis.com/css?family=Jura:500|Tinos);
// How To Use
//font-family: 'Jura', sans-serif;
//font-family: 'Tinos', serif;

//End of bootstrap variables
.box-shadow(@style, @c) when (iscolor(@c)) {
  -webkit-box-shadow: @style @c;
  box-shadow: @style @c;
}

.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}

.main-content {
  color: saturate(@gray-base, 15%);
  border-color: lighten(@gray-base, 30%);
  div {
    .box-shadow(0 0 5px, 30%)
  }
}