@(message: String)(implicit r: Request[_])

@main(title="Home", tab="home") {
  <div id="react-main-message"></div>
    <h2>@message</h2>
  <!-- Part 1: Wrap all page content here -->
          <article>
            <section>    
            <h4>Introduction</h4>
              <p>This is where i explain the intro the Introduction. 
              Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</p>
            </section>
            <section>
            <h4>Chapter 1</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
               Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
               Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </section>
            <section>   
            <h4>Chapter 2</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                 Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </section>    
          </article>
        
          <section class="vbox">
            <div class="box flex1">
              <h3>ONE</h3>
            </div>
            <div class="box flex2">
              <h3>TWO</h3>
            </div>
            <div class="box flex3">
              <h3>THREE</h3>
            </div>
          </section>
  <script type="text/jsx">
    
    var HelloWorld = React.createClass({
      render: function() {
        return (
          <div>
              <h1>Scala, React.js, LESS, and Play! Framework Tutorials</h1>
              <p>By: Brandon Mott</p>
          </div>
          );
      }
    });
  
      React.render(<HelloWorld />, document.getElementById("react-main-message"));
  </script>
  
}
