@import helper._ 
@import play.api.data.Form
@import play.api.data.format.Formats._

@(f: Form[_])(implicit r: RequestHeader)

@main("Registration"){

  <section>
    <h1>Sign up here!</h1>
    
    @if(f.hasGlobalErrors) {
      <ul style="list-style-type: none;" class="list-group-item-danger">
          @for(e <- f.globalErrors) {
          <li>@e.message</li>
          }
      </ul>
    }
    
    @helper.form(routes.Application.doSignUp()){
      @helper.inputText(
        f("userName"), 
        '_label -> "Username", 
        '_help -> "Choose a username you want to use",
        '_showConstraints -> false
      )
      @helper.inputText(
        f("email"), 
        '_label -> "Email", 
        'placeholder -> "Email Address", 
        'class -> "control", 
        'type -> "email", 
        '_showConstraints -> false
      )
      @helper.inputPassword(
        f("password1"), 
        '_label -> "Password", 
        '_help -> "Must be at least 8 characters",
        'class -> "control",
        '_showConstraints -> false
      )
      @helper.inputPassword(
        f("password2"), 
        '_label -> "Confirm Password",
        'class -> "control",
        '_showConstraints -> false 
      )
      
      <div>
        <button class='control control-special' type='submit'>Add Device</button>
        <a href='@routes.Application.index()'><button type='button' class='control'>Cancel</button></a>
      </div>
    }
    
  </section>

}