@import helper._ 
@import play.api.data.Form
@import play.api.data.format.Formats._

@(f: Form[_])(implicit r: RequestHeader)

@main("Registration"){

  <section>
    <h1>Sign up here!</h1>
    @if(f.hasGlobalErrors) {
        <ul class="list-group-item-danger">
            @for(error <- f.globalErrors) {
            <li>@error.message</li>
            }
        </ul>
        }
    
    @helper.form(routes.Application.doSignUp()){
      @inputText(f("userName"), '_showConstraints -> false, '_label -> "Username", '_help -> "Choose a username you want to use")
      @inputText(f("email"), '_showConstraints -> false, '_label -> "Email")
      @inputPassword(f("password1"), '_showConstraints -> false, '_label -> "Password", '_help -> "Must be at least 8 characters")
      @inputPassword(f("password2"), '_showConstraints -> false, '_label -> "Confirm Password")
      <input type="submit" value="Submit" class="btn btn-default"/>
      <a href="@routes.Application.index()" class="btn btn-danger">Cancel</a>
    }
    
    
    
  </section>

}